<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/wildan.png" alt="Wildan Humaidi" class="img-fluid rounded-circle mb-3" width="400">
            <h1 class="display-4">M. Wildan Humaidi S. Budi</h1>
            <p class="lead">Ini adalah halaman tentang saya.</p>
        </div>

    </div>
</div>